:root {
  /* Note: Colours have to be updated within the .svg file when changes are made */
  --white: #ffffff;
  --onahau: #b7fffe;
  --steel-blue: #4b8eb9;
  --sapphire: #2f4692;

  --huge-border: 25px;
  --big-border: 15px;
  --small-border: 10px;

  --huge-font-size: 4rem;
  --big-font-size: 3rem;
  --medium-font-size: 1.5rem;
  --small-font-size: 1.25rem;
  --tiny-font-size: 1rem;

  --height-multiplier: 1.5;

  --icon-width: 30%;
}

body#background {
  display: none;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  background-color: black;
  width: 100vw;
  height: 100vh;
  font-family: 'Gloria Hallelujah', cursive;
  font-size: var(--small-font-size);
}

div#game-outer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
  flex-grow: 1;

  background-color: var(--white);
  border-radius: var(--big-border);
  max-width: 40rem;

  margin: var(--big-border);
}

div#game-inner-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: space-around;
  flex-grow: 1;

  background-color: var(--onahau);
  margin-right: var(--big-border);
  margin-left: var(--big-border);
}

div#header-container,
div#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;

  background-color: var(--sapphire);
  color: var(--white);
  font-size: var(--big-font-size);
  height: calc(var(--height-multiplier) * var(--big-font-size));
  margin-right: var(--big-border);
  margin-left: var(--big-border);
}

div#header-container {
  margin-top: var(--big-border);
  border-top-left-radius: var(--big-border);
  border-top-right-radius: var(--big-border);
}

div#footer-container {
  margin-bottom: var(--big-border);
  border-bottom-left-radius: var(--big-border);
  border-bottom-right-radius: var(--big-border);
}

section#call-container,
section#response-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;

  margin-right: var(--big-border);
  margin-left: var(--big-border);
  margin-top: calc(var(--height-multiplier) * var(--medium-font-size));
}

section#call-container > div#name-wrapper,
section#response-container > div#name-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  transform: translateY(50%);
}

section#call-container > div > h2,
section#response-container > div > h2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: var(--medium-font-size);
  height: calc(var(--height-multiplier) * var(--medium-font-size));
  color: var(--sapphire);
  background-color: var(--white);
  border-radius: var(--small-border);
  padding-left: var(--small-border);
  padding-right: var(--small-border);
}

section#call-container > div#text-wrapper,
section#response-container > div#text-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--steel-blue);
  background-color: var(--sapphire);
  border-radius: var(--small-border);
  padding-top: calc(0.5 * var(--medium-font-size) + var(--small-font-size));
  padding-bottom: var(--small-font-size);
  padding-left: var(--small-border);
  padding-right: var(--small-border);
  flex-grow: 1;
}

section#response-container > div#text-wrapper > textarea#response-input {
  font-family: inherit; /* needs redeclared */
  font-size: inherit; /* needs redeclared */
  line-height: inherit; /* needs redeclared */

  color: var(--steel-blue);
  background-color: var(--sapphire);
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  flex-grow: 1;
}

section#results-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;

  margin-right: var(--big-border);
  margin-left: var(--big-border);
  margin-top: calc(var(--height-multiplier) * var(--medium-font-size));
}

section#results-container > div {
  width: var(--icon-width);
}

section#results-container > div > h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--tiny-font-size);
  height: calc(var(--height-multiplier) * var(--tiny-font-size));
  color: var(--sapphire);
  background-color: var(--white);
  border-top-left-radius: var(--small-border);
  border-top-right-radius: var(--small-border);
}

section#results-container > div > p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--huge-font-size);
  color: var(--onahau);
  background-color: var(--steel-blue);
  border-bottom-left-radius: var(--small-border);
  border-bottom-right-radius: var(--small-border);
}

section#game-state-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  height: calc(var(--special-height-multiplier) * var(--small-font-size));
  margin-right: var(--big-border);
  margin-left: var(--big-border);
  margin-top: calc(var(--height-multiplier) * var(--medium-font-size));
}

section#game-state-container > img {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  background-color: var(--steel-blue);
  border-radius: var(--small-border);

  height: calc(var(--big-font-size) * var(--height-multiplier));
  width: var(--icon-width);
}

section#next-game-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  margin-right: var(--big-border);
  margin-left: var(--big-border);
  margin-top: calc(var(--height-multiplier) * var(--medium-font-size));
  margin-bottom: calc(var(--height-multiplier) * var(--medium-font-size));
}

section#next-game-container > div#next-game-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  font-size: var(--big-font-size);
  height: calc(var(--height-multiplier) * var(--big-font-size));
  background-color: var(--sapphire);
  color: var(--onahau);
  border-radius: var(--small-border);
  padding-left: var(--small-border);
  padding-right: var(--small-border);
}

section#next-game-container > div#next-game-button:hover,
section#next-game-container > div#next-game-button:focus {
  color: var(--white);
}

section#next-game-container > div#next-game-button:active {
  transform: scale(0.95);
}
