:root {
  /* Note: Colours have to be updated within the .svg file when changes are made */
  --white: #ffffff;
  --onahau: #b7fffe;
  --steel-blue: #4b8eb9;
  --sapphire: #2f4692;

  --huge-border: 25px;
  --big-border: 15px;
  --small-border: 10px;

  --huge-font-size: 4em;
  --big-font-size: 2em;
  --medium-font-size: 1.5em;
  --small-font-size: 1.25em;
  --tiny-font-size: 1em;

  --normal-height-multiplier: 2em;
  --special-height-multiplier: 1.5em;

  --icon-width: 30%;
}

body#background {
  display: none;
  justify-content: center;
  align-items: center;
  text-align: center;

  background-color: black;

  width: 100vw;
  height: 100vh;

  font-family: 'Gloria Hallelujah', cursive;
  font-size: var(--small-font-size);
}

div#game-outer-container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: flex-start;

  background-color: var(--white);
  border-radius: var(--big-border);
  padding: var(--big-border);
  width: 50%;
  height: 90%;
}

div#game-inner-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-grow: 1;

  background-color: var(--onahau);
  justify-content: space-between;
  padding-left: var(--huge-border);
  padding-right: var(--huge-border);
}

div#header-container,
div#footer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-grow: 0;

  background-color: var(--sapphire);
  color: var(--white);
  font-size: var(--big-font-size);
  height: var(--normal-height-multiplier);
}

div#header-container {
  border-top-left-radius: var(--big-border);
  border-top-right-radius: var(--big-border);
}

div#footer-container {
  border-bottom-left-radius: var(--big-border);
  border-bottom-right-radius: var(--big-border);
}

section {
  display: flex;
  align-items: center;
  justify-content: space-between;

  width: 100%;
}

div.spacer {
  /*
   * This class mimics the extra space remaining after translating the call and
   * response headers, so that components have an even vertical separation
   */
  font-size: var(--medium-font-size);
  height: calc(var(--normal-height-multiplier) / 2);
  width: 100%;
}

section#call-container,
section#response-container {
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}

section#call-container > div#name-wrapper,
section#response-container > div#name-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  transform: translateY(50%);
}

section#call-container > div > h2,
section#response-container > div > h2 {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;

  font-size: var(--medium-font-size);
  height: var(--normal-height-multiplier);
  color: var(--sapphire);
  background-color: var(--white);
  border-radius: var(--small-border);
  padding-left: var(--small-border);
  padding-right: var(--small-border);
}

section#call-container > div#text-wrapper,
section#response-container > div#text-wrapper {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--steel-blue);
  background-color: var(--sapphire);
  border-radius: var(--small-border);
  padding-top: calc(0.5 * var(--medium-font-size) + var(--small-font-size));
  padding-bottom: var(--small-font-size);
  padding-left: var(--small-border);
  padding-right: var(--small-border);
  flex-grow: 1;
  /* width: 100%; */
}

textarea#response-input {
  font-family: inherit; /* needs redeclared */
  font-size: inherit; /* needs redeclared */
  line-height: inherit; /* needs redeclared */

  color: var(--steel-blue);
  background-color: var(--sapphire);
  resize: none;
  width: 100%;
  height: 100%;
  border: none;
  text-align: center;
  flex-grow: 1;
}

section#results-container {
  flex-direction: row;
  justify-content: space-between;
}

section#results-container > div {
  width: var(--icon-width);
}

section#results-container > div > h3 {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--tiny-font-size);
  height: var(--normal-height-multiplier);
  color: var(--sapphire);
  background-color: var(--white);
  border-top-left-radius: var(--small-border);
  border-top-right-radius: var(--small-border);
}

section#results-container > div > p {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--huge-font-size);
  color: var(--onahau);
  background-color: var(--steel-blue);
  border-bottom-left-radius: var(--small-border);
  border-bottom-right-radius: var(--small-border);
}

/* I'm rotating the ENTIRE p tag, which is what's causing the weirdness... */

section#game-state-container {
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

section#game-state-container > img {
  display: flex;
  justify-content: center;
  align-items: center;

  font-size: var(--huge-font-size);
  height: var(--special-height-multiplier);

  background-color: var(--steel-blue);
  border-radius: var(--small-border);

  width: var(--icon-width);
}
